{$SERVER_ADDRESS::80} {
	header Server "{$SERVER_NAME:WACC}"

	root * /etc/caddy
	encode zstd gzip
	file_server

	handle_path /wasm/*.wasm {
		root * /etc/caddy/wasm
		header Cache-Control "public, max-age=31536000, immutable"
	}

	handle_path /wasm {
		rewrite * /loadWASM.js
		header Cache-Control "public, max-age=86400"
	}

	handle {
		rewrite * /app.html
	}
}
